{% extends 'base.html' %}
{% block content %}
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/static/images/gyros.webp" class="d-block w-100" alt="gyros">
        </div>
        <div class="carousel-item">
            <img src="/static/images/meal-prep.webp" class="d-block w-100" alt="meal prep containers">
        </div>
        <div class="carousel-item">
            <img src="/static/images/soup.webp" class="d-block w-100" alt="bowl of soup">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    <div class="carousel-caption d-flex flex-column justify-content-center align-items-center h-100">
        <h1 class="display-2 carousel-text fw-bold text-center" style="opacity: 0.9;">Real Recipes for Everyday Life</h1>
    </div>
</div>


<!-- About us section -->
<div class="about-us-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 about-text">
                <h2 class="display-2 fw-bold">About Us</h2>
                <p>
                    Welcome to our Recipe Blog! We're passionate about connecting food lovers everywhere. Here, you can
                    share, discover, and enjoy recipes that fit into everyday life. Our mission is to inspire creativity
                    in the kitchen and bring people together through the joy of cooking.
                </p>
                <p>
                    Whether you're an experienced chef or just starting out, we believe cooking is for everyone. Our
                    community is here to provide you with the tools and support to create something delicious every day.
                </p>
                <div class="d-flex align-items-center justify-content-center pt-3">
                    <a href="{% url 'add_recipe' %}" class="btn btn-success btn-lg me-3 custom-btn mx-3">Create a
                        Recipe</a>
                    <span class="fw-bold mx-2 or-text">or</span>
                    <a href="{% url 'recipe_list' %}" class="btn btn-primary btn-lg ms-3 custom-btn mx-3">View All
                        Recipes</a>
                </div>
            </div>
            <div class="col-md-6 about-us-image-container">
                <img src="/static/images/about-us-image.webp" alt="About Us" class="img-fluid about-us-image">
            </div>
        </div>
    </div>
</div>


{% endblock %}