{% extends 'base.html' %}

{% block title %}Add Recipe{% endblock %}

{% block content %}
<div class="container py-3">
    <div class="form-container mx-auto"3>
        <form method="POST" class="form p-3">
            <h1 class="text-white">Add a Recipe</h1>
            {% csrf_token %}
            <div class="form-group">
                {{ form|crispy }}
            </div>
            <div class="text-center mt-3">
                <a href="javascript:history.back()" class="btn btn-secondary custom-btn me-2">Return</a>
                <button type="submit" class="btn btn-primary custom-btn ms-2">Create Recipe</button>
            </div>

        </form>

    </div>
</div>
{% endblock %}
