{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container profile-recipes-container p-3">
    <!-- Profile Info Section -->
    <div class="profile-info-container form-container">
        <h1 class="text-white">{{ user.username|capfirst }}'s Profile</h1>
        <p>Email: <span class="text-light">{{ user.email }}</span></p>
        <p>Joined on: <span class="text-light">{{ user.date_joined }}</span></p>
    </div>
    
    <!-- Recipes Section -->
    <div class="user-recipes-container form-container">
        <h2 class="text-white">Your Recipes: {{ user_recipes.count }}</h2>

        <!-- Display User's Recipes -->
        {% if user_recipes %}
        <ul class="list-unstyled mt-3">
            {% for recipe in user_recipes %}
            <li class="mb-2 border border-white rounded p-2">
                <a href="{% url 'recipe_detail' recipe.id %}" class="dropdown-item text-white">{{ recipe.title }}</a>
                <!-- Each recipe is linked to its detail page -->
            </li>
            {% endfor %}
        </ul>
        <hr class="text-light">
        {% else %}
        <p class="text-white">No recipes found.</p>
        <!-- Message if the user has no recipes -->
        {% endif %}
        
        <a href="{% url 'add_recipe' %}" class="btn btn-primary custom-btn">Add New Recipe</a>
    </div>
</div>
{% endblock %}
