{% extends 'base.html' %}

{% block title %}Recipe Details{% endblock %}

{% block content %}
<div class="container pt-3 pb-3">
    <div class="form-container mx-auto">
        <h1 class="text-white">Title: {{ recipe.title|capfirst }}</h1>
        <p class="text-white"><strong>Created by:</strong> {{ recipe.author.username|capfirst }}</p><hr>
        <p class="text-white"><strong>Meal Type:</strong> {{ recipe.meal_type|capfirst }}</p><hr>
        <p class="text-white"><strong>Description:</strong> {{ recipe.description|capfirst }}</p><hr>
        <p class="text-white"><strong>Ingredients:</strong> {{ recipe.ingredients }}</p><hr>
        <p class="text-white"><strong>Instructions:</strong> {{ recipe.instructions|capfirst }}</p><hr>
        <p class="text-white"><strong>Calories:</strong> {{ recipe.calories }}</p><hr>

        <h5 class="text-white">Average Rating: {{ recipe.average_rating|floatformat:0 }}/5</h5><hr>

        {% if recipe.author != user %}
        <!-- Rating form shown if the current user is not the recipe author -->
        <form action="{% url 'rate_recipe' recipe.id %}" method="POST" class="mt-3">
            {% csrf_token %}
            <div class="form-group d-flex align-items-center">
                <label for="rating" class="text-white me-2"><strong>Rate this Recipe:</strong></label>
                <select name="rating" id="rating" class="form-select me-2" style="width: 10%;">
                    <option value="1">1 Star</option>
                    <option value="2">2 Stars</option>
                    <option value="3">3 Stars</option>
                    <option value="4">4 Stars</option>
                    <option value="5">5 Stars</option>
                </select>
                <button type="submit" class="btn btn-primary custom-btn">Leave a Review</button>
            </div>
        </form>
        {% endif %}

        {% if recipe.author == user %}
        <!-- Edit and Delete buttons shown if the current user is the recipe author -->
        <div class="mt-3">
            <!-- Edit Recipe Button -->
            <a href="{% url 'edit_recipe' recipe.id %}" class="btn btn-warning custom-btn">Edit Recipe</a>

            <!-- Delete Recipe Button -->
            <form action="{% url 'delete_recipe' recipe.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <a href="{% url 'delete_recipe' recipe.id %}" class="btn btn-danger custom-btn">Delete Recipe</a>
            </form>
        </div>
        {% endif %}
        <div class="mt-4">
            <a href="javascript:history.back()" class="btn btn-secondary custom-btn">Return</a>
        </div>
    </div>
</div>
{% endblock %}
