{% load static %}

<footer class="social-media-footer">
  <!-- Social media icons using Bootstrap icons -->
  <div class="social-icons d-flex justify-content-around">
    <a class="item" href="https://www.facebook.com/" target="_blank" rel="noopener"
      aria-label="Visit our Facebook page (opens in a new tab)">
      <i class="bi bi-facebook"></i></a>

    <a class="item" href="https://www.instagram.com/" target="_blank" rel="noopener"
      aria-label="Visit our Instagram page (opens in a new tab)">
      <i class="bi bi-instagram"></i></a>

    <a class="item" href="https://www.twitter.com/" target="_blank" rel="noopener"
      aria-label="Visit our Twitter page (opens in a new tab)">
      <i class="bi bi-twitter"></i></a>
  </div>
</footer>
