
{% load static %}

<footer>
      <!-- Social media icons-->
        <a class="item" href="https://www.facebook.com/" target="_blank" rel="noopener"
            aria-label="Visit our Facebook page (opens in a new tab)">
            <i class="fa-brands fa-facebook"></i></a>

            <a class="item" href="https://www.instagram.com/" target="_blank" rel="noopener"
            aria-label="Visit our Instagram page (opens in a new tab)">
            <i class="fa-brands fa-instagram"></i></a>

            <a class="item" href="https://www.twitter.com/" target="_blank" rel="noopener"
            aria-label="Visit our Twitter page (opens in a new tab)">
            <i class="fa-brands fa-twitter-square"></i></a>
</footer>  

