{% extends "account/base_manage.html" %}
{% load allauth i18n %}
{% block head_title %}
{% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
<div class="container text-center p-3">
    {% element h1 class="text-white" %} 
    {% trans "Sign Out" %}
    {% endelement %}
    <div class="form-container mx-auto comfirm-sign-out-container">
        {% url 'account_logout' as action_url %}
        {% element form method="post" action=action_url no_visible_fields=True %}
        {% slot body %}
        {% csrf_token %}
        {{ redirect_field }}
        {% element p class="text-white" %} 
        {% trans 'Are you sure you want to sign out?' %}
        {% endelement %}
        {% endslot %}
        {% slot actions %}
        {% element button type="submit" class="btn btn-primary custom-btn" %}
        {% trans 'Sign Out' %}
        {% endelement %}
        {% endslot %}
        {% endelement %}
    </div>
</div>
{% endblock content %}